body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
  background-color: #f3f4f6;
  font-family: Arial, sans-serif;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;
}
